<template>
     <template-wc>
          <v-container slot="content">
                <form-cliente></form-cliente>
            </v-container>
     </template-wc>
</template>

<script>
import Template from '../components/Template'
import FormCliente from '../components/FormCliente'
export default {
    data : () => (
            {
                alignmentsAvailable: [
          'start',
          'center',
          'end',
          'baseline',
          'stretch',
        ],
        alignment: 'center',
        dense: false,
        justifyAvailable: [
          'start',
          'center',
          'end',
          'space-around',
          'space-between',
        ],
        justify: 'center',
            
            }
            
            ),
    components:{
        'template-wc':Template,
        'form-cliente': FormCliente
        
    }
    
}
</script>