<template>
    <template-wc>
       
        <v-container slot="content">
             <login-wc ></login-wc>
            <v-row no-gutters="" :align="alignment" :justify="justify">
                <v-col v-for="(producto,key) in productos" :key="key" cols="sm">
                    <v-card max-width="375" class="mx-auto">
                        <img :src="src + producto.image" alt="producto" height="300px" dark>
                            <v-row class="fill-height">
                                <v-card-title class="white--text pl-12 pt-12">
                                    <div class="display-1 pl-12 pt-12">{{producto.nombre}}</div>
                                </v-card-title>
                            </v-row>
                       
                        <v-list two-line>
                            <v-list-item @click="addProduct(key)">
                                <v-list-item-icon>
                                    <v-icon>shopping_cart</v-icon>
                                </v-list-item-icon>
                                 <v-list-item-content>
                                    <v-list-item-title>Comprar</v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>

                            <v-list-item >
                                <v-list-item-action></v-list-item-action>

                                <v-list-item-content>
                                    <v-list-item-title>Precio</v-list-item-title>
                                    <v-list-item-subtitle>{{producto.precio}}</v-list-item-subtitle>
                                </v-list-item-content>

                            </v-list-item>

                            <v-divider inset></v-divider>

                            <v-list-item >
                                
                                <v-list-item-content>
                                    <v-list-item-title>Descripcion</v-list-item-title>
                                    <v-list-item-subtitle>{{producto.descripcion}}</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>

                          
                           
                        </v-list>
                    </v-card>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                      <v-btn color="success" class="mr-4" @click="compra()">
                    Comprar
                </v-btn>
                </v-col>
            </v-row>
        </v-container>

    </template-wc>
</template>

<script>
    import Template from '../components/Template'
    import Login from '../components/Login'
    import axios from 'axios'
    import {mapState} from 'vuex'
    export default {
        props : {
            source: String,
        },
        data : () => ({
            alignmentsAvailable: [
                'start', 'center', 'end', 'baseline', 'stretch'
            ],
            alignment: 'center',
            dense: false,
            justifyAvailable: [
                'start', 'center', 'end', 'space-around', 'space-between'
            ],
            justify: 'center',
            productos:[],
            cliente:null,
            shopping_cart:[],
            procesarCompra:[],
            src:"http://localhost:8000/img/"

           
        }),
        computed :mapState(['login']),

        methods:{
            findAllProducts(){
                axios.get('http://localhost:8000/producto').then(response=>{
                   this.productos = response.data;
                });
            },
            addProduct(key){
               this.shopping_cart.push(this.productos[key]);
            },
            compra(){
               
              if(this.$store.state.login[0]['email']){
                  for(let i =0; i<this.shopping_cart.length;i++){
                  let data={
                    "cliente_id":null,
                    "product_id":null,
                    "cantidad":1
                    }
                      data.cliente_id = this.$store.state.login[0]['id'];
                      data.product_id = this.shopping_cart[i]['id'];
                      this.procesarCompra.push(data);
                  }
                  //console.log(this.procesarCompra);
                  axios.post('http://localhost:8000/compra',this.procesarCompra).then(response=>{
                      alert("Compra Realizada Exitosamente! En unos momentos recibira su email de confirmación");
                  }).catch(()=>{
                      alert("Error la compra no ha sido procesada, verificar que se haya logueado!");
                  })
              }
            }


        },
        mounted:function(){
            this.findAllProducts();
        },
        components : {
            'template-wc': Template,
            'login-wc':Login
        }
    }
</script>