<template>
    <v-btn
      v-bind="options"
      href="href"
    >
      <v-icon
        v-if="hasIcon"
        :left="type.includes('icon-left')"
        :right="type.includes('icon-right')"
      >
        mdi-plus
      </v-icon>
      <span v-else>
        {{ text }}
      </span>
      <template
        v-if="customLoad"
        v-slot:loader
      >
        Loading...
      </template>
    </v-btn>
</template>
<script>
  export default {
    data: () => ({
      color: 'primary',
      size: 'large',
      sizes: ['x-small', 'small', 'medium', 'large', 'x-large'],
      type: [],
      types: ['block', 'depressed', 'fab', 'outlined', 'rounded', 'text'],
      text: 'Login Facebook',
      minWidth: 400,
      minHeight: undefined,
      elevation: 8,
      loading: false,
      customLoad: false,
      disabled: false,
    }),
    props:
    {
        href:String,
    },
   
    computed: {
      hasIcon () {
        return Boolean(
          this.type.includes('fab') ||
            this.type.includes('icon-left') ||
            this.type.includes('icon-right')
        )
      },
      options () {
        const options = {
          color: this.color,
          [this.size]: true,
          elevation: this.elevation,
          loading: this.loading,
          disabled: this.disabled,
        }

        if (this.type) {
          for (const type of this.type) options[type] = true
        }

        if (this.minWidth) {
          options.minWidth = this.minWidth
        }
        if (this.minHeight) {
          options.minHeight = this.minHeight
        }

        return options
      },
      colors () {
        return Object.keys(this.$vuetify.theme.themes.dark)
      },
    },
    watch: {
      type (val) {
        if (
          val.includes('depressed') ||
          val.includes('outlined') ||
          val.includes('text')
        ) {
          this.elevation = 0
        } else {
          this.elevation = 8
        }
      },
    },
  }
</script>