<template>

    <v-dialog v-model="dialog" width="500">
        <template v-slot:activator="{ on }">
            <v-btn color="red lighten-2" dark v-on="on">
               Login
            </v-btn>
        </template>

        <v-card>
            <v-card-title class="headline grey lighten-2" primary-title>
                Login
            </v-card-title>

            <v-card-text>

                <v-row align="center">
                    <v-form ref="form" v-model="valid" :lazy-validation="lazy">
                        <v-text-field v-model="email" :rules="emailRules" label="E-mail" required></v-text-field>

                        <v-text-field
                            v-model="password"
                            :rules="passwordRules"
                            label="Password"
                            type="password"
                            required></v-text-field>

                    </v-form>
                </v-row>
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn :disabled="!valid" color="success" class="mr-4" @click="login">
                    Login
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    import axios from 'axios';
    import { mapState} from "vuex";
    export default {
        props : {

        },
        data : () => ({
            dialog: false,
            valid: true,
            email: '',
            emailRules: [
                v => !!v || 'E-mail is required',
                v => /.+@.+\..+/.test(v) || 'E-mail must be valid'
            ],
            password: '',
            passwordRules: [
                v => !!v || 'Password is required',
                v => (v && v.length <= 20) || 'Name must be less than 20 characters'
            ],
            lazy: false
        }),
        computed : {
         
        },

        methods : {
            validate() {
                if (this.$refs.form.validate()) {
                    this.snackbar = true
                }
            },
            reset() {
                this
                    .$refs
                    .form
                    .reset()
            },
            resetValidation() {
                this
                    .$refs
                    .form
                    .resetValidation()
            },
            
            login() {
                //const formData = new FormData();
                //formData.append('email', this.email);
                //formData.append('password', this.password);
                axios
                    .post('http://localhost:8000/cliente/login',{
                        email:this.email,
                        password:this.password
                    })
                    .then(response => {
                      console.log(response.data);
                      this.$store.state.login = response.data;
                      alert("En este momento esta logueado, puede agregar productos a su carrito de compras");
                      
                    })
                    .catch(() => {
                        alert("Error No ha podido loguearse. Ingrese sus credenciales correctas")
                    })
            }
        }
    }
</script>